body {
  margin: 0;
  height: 100vh;
  display: flex;
  font-family: Verdana;
  justify-content: center;
  align-items: center;
  background-color: #272727;
}

a {
  text-decoration: none;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3px;
  height: 60px;
  width: 200px;
  text-align: center;
  line-height: 60px;
  color: #fdc518;
  position: relative;
}

a:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 90px;
  top: -15px;
  left: 0;
  border-left: 2px solid red;
  border-right: 2px solid #fdc518;
  transition: all 0.4s;
}

a:after {
  content: "";
  position: absolute;
  width: 230px;
  height: 60px;
  top: 0;
  left: -15px;
  border-top: 2px solid red;
  border-bottom: 2px solid #fdc518;
  transition: all 0.4s;
  transition-delay: 0.4s;
}

a:hover:before {
  transform: rotateY(180deg);
}

a:hover:after {
  transform: rotateX(180deg);
}
